body{
margin:0%;    
}



.li{
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 20px;
   border-radius: 5px;
   display: inline-block;
   padding-right: 120px;
   text-decoration: none;
   color: rgba(0, 8, 239, 0.92);
   font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.li:hover{
    padding-right: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    background-color: rgba(160, 198, 250, 0.217);
    border-radius: 5px;
    text-decoration: none;
    color: rgba(0, 8, 239, 0.92);
 }

.mnlink{
    color: rgba(0, 8, 239, 0.92);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-decoration: none;
}

.ul{
    list-style-type: none;
    margin-left: -12px;
    margin-top: 4vw;
}

.menucontainer{
    max-width: 15vw;
    height: 47.5vw;
    position: fixed;
    z-index: -1;
}

.li:focus{
    padding-right: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    background-color: rgba(160, 198, 250, 0.217);
    border-radius: 5px;
    text-decoration: none;
    color: rgba(0, 8, 239, 0.92);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}


.horzontalmenu{
    background-color: #ffff;
}

iframe{
    margin-left: 280px;
    width: 84.3vw;
    height: 44.3vw;
    border: none;
    position: absolute;
}